.firstname_input {
	margin-top: 45px;
}

.lastname_input {
	margin-top: 45px;
}

.firstname_input {
	margin-top: 45px;
}

.email_input {
	margin-top: 45px;
}

.id_input {
	margin-top: 45px;
}

.password_input {
	margin-top: 45px;
}

.submit {
	margin-top: 45px;
}

.red {

    border-color: red !important;
	
	}